

/*:::: ::::*/
$pargaph-font-size:1.1rem;
$mission-header-font-size:2.8rem;

/*:::: ::::*/ 
$mission-header-line-height:0.2rem;

/*:::: ::::*/ 
$first-color:rgba(250, 222, 187, 0.6);
$third-color:#fff;
$fourth-color:#000;

/*:::: ::::*/ 
@font-face {
    font-family:"special-elite";
    src: url("../fonts/special-elite/special-elite-regular.ttf");
}
@font-face {
    font-family:"marck-script";
    src: url("../fonts/marck-script/marck-script-regular.ttf");
}


/*:::: ::::*/
$font-paragraph:"special-elite";
$font-header:"marck-script";


/*:::: mixins ::::*/
@mixin easeOut {
    transition: all 600ms ease-out;
}

/*:::: media query ::::*/ 
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}
@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin mediaLg {
    @media screen and (min-width:769px) and (max-width: 1170px) {
        @content;
    }
}
 @mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}
 
