

.mission {
    
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows:auto 1fr;
    grid-gap:1rem;
    padding:0% 10% 0% 10%;
    font-family:$font-paragraph;
    font-size:$pargaph-font-size;

    &__title {
        grid-column:span 2;
        margin:1rem 0 1rem 0rem; 
        text-align:center;
        font-family:$font-header;
        font-size:$mission-header-font-size;
        
        &::before,&::after {
            content:"";
            display:block;
            margin:0.25rem auto;
            width:80%;
            height:$mission-header-line-height;
            background-color:$fourth-color;
        }
    }

    &__description {
        margin:0 auto;
        width:90%;
        text-align:justify;
        text-justify:inter-word;
    }


    &__gauge {
        display:inline-block;
        margin:0 auto;
        width:90%;
        line-height:1.2*$pargaph-font-size;
    }
}
.polaroid {
    
    padding:1rem;
    background-color:$third-color;
    box-shadow:0 0.2rem 1.2rem rgba(0,0,0,0.2);
    filter:grayscale(100%);
    transform:scale(0.9,0.9) rotate(5deg) translateY(-1rem);
    @include easeOut;

    &:hover {
        filter:none;
        transform:scale(1,1) rotate(0deg);
        @include easeOut;
    }

    &__image {
        max-width:100%;
        height:auto;      
    }
    
    &__caption {
        font-size:0.8*$pargaph-font-size;
        text-align:center;
        line-height:1.2*$pargaph-font-size;     
    }
}
.gauge {
    
    &__title {
        display:inline-block; 
    }

    &__bars {
        display:inline-block;
        float:right;
        margin:auto;
        width:10rem;
        height:0.6*$pargaph-font-size;
        text-align:center;
    }

    &__bar {
        display:inline-block;
        height:100%;
        width:15%;
    }

    &__bar--full {
        background:$fourth-color;
    }

    &__bar--empty {
        background:$fourth-color;
        opacity:0.3;
    }

}
