

# Ignore repositories
mission/__pycache__/
mission/migrations/
mission/templatetags/__pycache__/
mr_k/__pycache__/
mr_k/media/
mr_k/static/fonts/
mr_k/settings/__pycache__/
node_modules/

# Ignore files 
mr_k/db.sqlite3

