{% load static %}

{% load i18n %}
{% load l10n %}
{% load tz %}


<!DOCTYPE html>
<html lang = "en">
    <head>
        <!-- meta tags -->
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv = "x-ua-compatible" content = "ie=edge">
        {% block meta %}
        {% endblock %}
        <!-- meta tags --> 
        <!-- css -->
        <link rel = "stylesheet" title = "base css file" type = "text/css" href = "{% static 'css/main.css'%}"/>
        <link rel = "stylesheet" href = "https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        {% block css %}
        {% endblock %}
        <!-- css -->
    </head>
    <body>
        <header>
            <nav class = "menu">
                <ul class = "menu__nav">
                    <li class = "menu__item current"><a href = "#" class = "menu__link">Mr-K Escape Game</a></li>
                    <li class = "menu__item"><a href = "#design-lab-section" class = "menu__link">Montauban</a></li>
                    <li class = "menu__item"><a href = "#about-section" class = "menu__link">Cahors</a></li>
                    <li class = "menu__item"><a href = "#about__section" class = "menu__link">Reservation</a></li>
                    <li class = "menu__item"><a href = "#about__section" class = "menu__link">Carte cadeau</a></li>
                    <li class = "menu__item"><a href = "#about__section" class = "menu__link">F.A.Q.</a></li>
                    <li class = "menu__item"><a href = "#about__section" class = "menu__link">Groupes et challenges</a></li>
                    <div class = "menu__search">
                        <form action = "/action_page.php">
                        <input type = "text" placeholder = "Search.." name = "search">
                        <button type = "submit"><i class = "fa fa-search"></i></button>
                        </form>
                    </div>
                </ul>
            </nav>
        </header>

        {% block content %}
        {% endblock %}
        
        <footer id = "footer">
        </footer>
        
        <!-- js -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
    </body>
</html>
